<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="Zza.Services.ZzaService">
        <host>
          <baseAddresses>
            <!--
            Remember that the base address need **not** be the same as 
            any of the endpoints listed later.
            
            Creating a base address from an endpoint address allows one
            to use relative addresses in endpoints.
            -->
            <add baseAddress="http://localhost:2112" />
          </baseAddresses>
        </host>
        <endpoint address="Zza"
                  binding="basicHttpBinding"
                  contract="Zza.Services.IZzaServices" />
        <endpoint address="net.tcp//localhost:2113/Zza"
                  binding="netTcpBinding"
                  contract="Zza.Services.IZzaServices" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceDebug includeExceptionDetailInFaults="true" />
          <!-- 
              To get metadata, one must also define a base address for the
              service.
            -->
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <!--
      These "magic numbers" are simply Sytem.MAX_INT. These values are 
      safe for playing around with WCF; however, to avoid 
      denial-of-service attacks (a bad guy simply sending very large 
      messages), you would reduce them to more reasonable numbers.
      -->
      <basicHttpBinding>
        <binding maxReceivedMessageSize="2147483647" 
                 maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647" 
                        maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2147483647"
                 maxBufferSize="2147483647">
          <readerQuotas maxArrayLength="2147483647"
                        maxStringContentLength="2147483647" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>