<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IZzaServices" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IZzaServices" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/Zza" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IZzaServices" contract="ZzaService.IZzaServices"
                name="BasicHttpBinding_IZzaServices" />
            <endpoint address="net.tcp://localhost:2113/Zza" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IZzaServices" contract="ZzaService.IZzaServices"
                name="NetTcpBinding_IZzaServices">
                <identity>
                    <userPrincipalName value="OLF\ljones" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>