<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IZzaServices" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IZzaServices" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2112/Zza" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IZzaServices" contract="ZzaServices.IZzaServices" name="BasicHttpBinding_IZzaServices" />
            <endpoint address="net.tcp://localhost:2113/Zza" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IZzaServices" contract="ZzaServices.IZzaServices" name="NetTcpBinding_IZzaServices">
                <identity>
                    <userPrincipalName value="OLF\ljones" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.1.0" newVersion="1.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>